# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env

# Logs
logs/
*.log

# Audio
audio/
*.wav

# Screenshots
screenshots/
*.png

# Whisper
models/
.cache/

# Test
.pytest_cache/
coverage/

# OS
Thumbs.db
.DS_Store